parameters:
	ignoreErrors:
		-
			message: '#^Direct \$stmt\-\>execute\(\) bypasses Connection\:\:execute\(\) checked execution\. Use \$this\-\>conn\-\>execute\(\$stmt\) instead\. \(CLAUDE\.md \#1\)$#'
			identifier: oneaiaffiliate.directStmtCall
			count: 1
			path: api/v2/app.php

		-
			message: '#^Call to an undefined method OneAIAffiliate\\Database\\Connection\:\:executeChecked\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: config/Affiliate/AffiliateLinkService.php

		-
			message: '#^Call to private method prepare\(\) of class OneAIAffiliate\\Database\\Connection\.$#'
			identifier: method.private
			count: 3
			path: config/Affiliate/AffiliateLinkService.php

		-
			message: '#^Method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 3
			path: config/Affiliate/AffiliateLinkService.php

		-
			message: '#^Parameter \#1 \$connection of method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) expects mysqli, string given\.$#'
			identifier: argument.type
			count: 3
			path: config/Affiliate/AffiliateLinkService.php

		-
			message: '#^Call to an undefined method OneAIAffiliate\\Database\\Connection\:\:executeChecked\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: config/Affiliate/MysqlAffiliateRepository.php

		-
			message: '#^Call to function array_key_exists\(\) with ''updated_at'' and non\-empty\-array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: config/Affiliate/MysqlAffiliateRepository.php

		-
			message: '#^Call to private method prepare\(\) of class OneAIAffiliate\\Database\\Connection\.$#'
			identifier: method.private
			count: 3
			path: config/Affiliate/MysqlAffiliateRepository.php

		-
			message: '#^Method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 3
			path: config/Affiliate/MysqlAffiliateRepository.php

		-
			message: '#^Parameter \#1 \$connection of method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) expects mysqli, string given\.$#'
			identifier: argument.type
			count: 3
			path: config/Affiliate/MysqlAffiliateRepository.php

		-
			message: '#^Call to an undefined method OneAIAffiliate\\Database\\Connection\:\:executeChecked\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: config/Commission/CommissionService.php

		-
			message: '#^Call to private method prepare\(\) of class OneAIAffiliate\\Database\\Connection\.$#'
			identifier: method.private
			count: 3
			path: config/Commission/CommissionService.php

		-
			message: '#^Method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 3
			path: config/Commission/CommissionService.php

		-
			message: '#^Parameter \#1 \$connection of method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) expects mysqli, string given\.$#'
			identifier: argument.type
			count: 3
			path: config/Commission/CommissionService.php

		-
			message: '#^Call to an undefined method OneAIAffiliate\\Database\\Connection\:\:executeChecked\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: config/Commission/MysqlCommissionRepository.php

		-
			message: '#^Call to private method prepare\(\) of class OneAIAffiliate\\Database\\Connection\.$#'
			identifier: method.private
			count: 2
			path: config/Commission/MysqlCommissionRepository.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#3 \$paymentMethod \(string\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: config/Commission/MysqlCommissionRepository.php

		-
			message: '#^Method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 2
			path: config/Commission/MysqlCommissionRepository.php

		-
			message: '#^Parameter \#1 \$connection of method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) expects mysqli, string given\.$#'
			identifier: argument.type
			count: 2
			path: config/Commission/MysqlCommissionRepository.php

		-
			message: '#^Constant DASHBOARD_API_URL not found\.$#'
			identifier: constant.notFound
			count: 1
			path: config/DashboardAPI.class.php

		-
			message: '#^Constant DASHBOARD_CACHE_TTL not found\.$#'
			identifier: constant.notFound
			count: 1
			path: config/DashboardDataManager.class.php

		-
			message: '#^Call to function method_exists\(\) with DB and ''getConnectionro'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: config/Database/ConnectionFactory.php

		-
			message: '#^Call to an undefined method OneAIAffiliate\\Database\\Connection\:\:executeChecked\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: config/Margin/ConversionCommissionHandler.php

		-
			message: '#^Call to private method prepare\(\) of class OneAIAffiliate\\Database\\Connection\.$#'
			identifier: method.private
			count: 3
			path: config/Margin/ConversionCommissionHandler.php

		-
			message: '#^Method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 3
			path: config/Margin/ConversionCommissionHandler.php

		-
			message: '#^Parameter \#1 \$connection of method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) expects mysqli, string given\.$#'
			identifier: argument.type
			count: 3
			path: config/Margin/ConversionCommissionHandler.php

		-
			message: '#^Call to an undefined method OneAIAffiliate\\Database\\Connection\:\:executeChecked\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: config/Margin/MarginConfig.php

		-
			message: '#^Call to private method prepare\(\) of class OneAIAffiliate\\Database\\Connection\.$#'
			identifier: method.private
			count: 2
			path: config/Margin/MarginConfig.php

		-
			message: '#^Method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 2
			path: config/Margin/MarginConfig.php

		-
			message: '#^Parameter \#1 \$connection of method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) expects mysqli, string given\.$#'
			identifier: argument.type
			count: 2
			path: config/Margin/MarginConfig.php

		-
			message: '#^Call to an undefined method OneAIAffiliate\\Database\\Connection\:\:executeChecked\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: config/Offer/MysqlOfferRepository.php

		-
			message: '#^Call to function array_key_exists\(\) with ''updated_at'' and non\-empty\-array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: config/Offer/MysqlOfferRepository.php

		-
			message: '#^Call to private method prepare\(\) of class OneAIAffiliate\\Database\\Connection\.$#'
			identifier: method.private
			count: 6
			path: config/Offer/MysqlOfferRepository.php

		-
			message: '#^Method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 6
			path: config/Offer/MysqlOfferRepository.php

		-
			message: '#^Parameter \#1 \$connection of method OneAIAffiliate\\Database\\Connection\:\:prepare\(\) expects mysqli, string given\.$#'
			identifier: argument.type
			count: 6
			path: config/Offer/MysqlOfferRepository.php

		-
			message: '#^Call to method getIpInfo\(\) on an unknown class IPRegistry\\IPRegistry\.$#'
			identifier: class.notFound
			count: 1
			path: config/class-indexes.php

		-
			message: '#^Instantiated class IPRegistry\\IPRegistry not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/class-indexes.php

		-
			message: '#^Call to an undefined static method INDEXES\:\:get_custom_var_id\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: config/connect2.php

		-
			message: '#^Call to an undefined static method INDEXES\:\:get_utm_id\(\)\.$#'
			identifier: staticMethod.notFound
			count: 5
			path: config/connect2.php

		-
			message: '#^Call to an undefined static method INDEXES\:\:get_variable_id\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: config/connect2.php

		-
			message: '#^Call to an undefined static method INDEXES\:\:get_variable_set_id\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: config/connect2.php

		-
			message: '#^Call to function method_exists\(\) with DB and ''getConnection'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 8
			path: config/connect2.php

		-
			message: '#^Call to method setDirtyHour\(\) on an unknown class DataEngine\.$#'
			identifier: class.notFound
			count: 1
			path: config/connect2.php

		-
			message: '#^Instantiated class DataEngine not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/connect2.php

		-
			message: '#^Loose comparison using \=\= between non\-empty\-string and '''' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 2
			path: config/connect2.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_keyword_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/connect2.php

		-
			message: '#^Strict comparison using \=\=\= between true and '''' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: config/connect2.php

		-
			message: '#^Call to an undefined static method INDEXES\:\:get_browser_id\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Call to an undefined static method INDEXES\:\:get_device_id\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Call to an undefined static method INDEXES\:\:get_platform_id\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_c1_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_c2_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_c3_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_c4_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_city_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_country_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_isp_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Static call to instance method INDEXES\:\:get_keyword_id\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: config/functions-indexes.php

		-
			message: '#^Call to static method php_version_static\(\) on an unknown class OneAIAffiliate\.$#'
			identifier: class.notFound
			count: 1
			path: config/functions-install.php

		-
			message: '#^Access to constant DETAIL_LEVEL_NONE on an unknown class ReportBasicForm\.$#'
			identifier: class.notFound
			count: 9
			path: config/functions-tracking1ai.php

		-
			message: '#^Call to method getFilter\(\) on an unknown class FilterEngine\.$#'
			identifier: class.notFound
			count: 9
			path: config/functions-tracking1ai.php

		-
			message: '#^Call to method getFilterNames\(\) on an unknown class FilterEngine\.$#'
			identifier: class.notFound
			count: 6
			path: config/functions-tracking1ai.php

		-
			message: '#^Call to static method getDetailArray\(\) on an unknown class ReportBasicForm\.$#'
			identifier: class.notFound
			count: 1
			path: config/functions-tracking1ai.php

		-
			message: '#^Call to static method getDetailArray\(\) on an unknown class ReportSummaryForm\.$#'
			identifier: class.notFound
			count: 3
			path: config/functions-tracking1ai.php

		-
			message: '#^Call to static method translateDetailLevelById\(\) on an unknown class ReportBasicForm\.$#'
			identifier: class.notFound
			count: 7
			path: config/functions-tracking1ai.php

		-
			message: '#^Instantiated class FilterEngine not found\.$#'
			identifier: class.notFound
			count: 2
			path: config/functions-tracking1ai.php

		-
			message: '#^Call to static method oneai_affiliate_version\(\) on an unknown class OneAIAffiliate\.$#'
			identifier: class.notFound
			count: 1
			path: config/functions.php

		-
			message: '#^Call to static method php_version\(\) on an unknown class OneAIAffiliate\.$#'
			identifier: class.notFound
			count: 1
			path: config/functions.php

		-
			message: '#^Static method UPGRADE\:\:upgrade_databases\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: config/functions.php

		-
			message: '#^Constant ABSPATH not found\.$#'
			identifier: constant.notFound
			count: 2
			path: config/l10n.php

		-
			message: '#^Constant LANGDIR not found\.$#'
			identifier: constant.notFound
			count: 1
			path: config/l10n.php

		-
			message: '#^Constant PLUGINDIR not found\.$#'
			identifier: constant.notFound
			count: 1
			path: config/l10n.php

		-
			message: '#^Function get_template_directory not found\.$#'
			identifier: function.notFound
			count: 1
			path: config/l10n.php

		-
			message: '#^Instantiated class CachedFileReader not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/l10n.php

		-
			message: '#^Instantiated class gettext_reader not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/l10n.php

		-
			message: '#^Constant MYSQL_DATABASE not found\.$#'
			identifier: constant.notFound
			count: 3
			path: config/migrations/run_attribution_migration_standalone.php

		-
			message: '#^Constant MYSQL_HOST not found\.$#'
			identifier: constant.notFound
			count: 3
			path: config/migrations/run_attribution_migration_standalone.php

		-
			message: '#^Constant MYSQL_PASS not found\.$#'
			identifier: constant.notFound
			count: 1
			path: config/migrations/run_attribution_migration_standalone.php

		-
			message: '#^Constant MYSQL_USER not found\.$#'
			identifier: constant.notFound
			count: 2
			path: config/migrations/run_attribution_migration_standalone.php

		-
			message: '#^Call to method setDirtyHour\(\) on an unknown class DataEngine\.$#'
			identifier: class.notFound
			count: 1
			path: config/static-endpoint-helpers.php

		-
			message: '#^Instantiated class DataEngine not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/static-endpoint-helpers.php

		-
			message: '#^Constant TRACKING1ai_ADS_URL not found\.$#'
			identifier: constant.notFound
			count: 1
			path: config/template.php
